openapi: 3.2.0
info:
  title: RCAC History API
  version: 0.0.1
servers:
- url: https://www.rcac.purdue.edu/api
  description: Production server
tags:
- name: History
paths:
  /history:
    get:
      description: Display a listing of entries
      parameters:
      - in: query
        name: action
        description: Action taken.
        required: false
        schema:
          type: string
          enum:
          - create
          - update
          - delete
      - in: query
        name: type
        description: The type of item (model name) that the action was taken on.
        required: false
        schema:
          type: search
      - in: query
        name: search
        description: A word or phrase to search for.
        required: false
        schema:
          type: search
      - in: query
        name: limit
        description: Number of result per page.
        type: integer
        required: false
        schema:
          type: integer
          default: 20
      - in: query
        name: page
        description: Number of where to start returning results.
        required: false
        schema:
          type: integer
          default: 1
      - in: query
        name: order
        description: Field to sort results by.
        required: false
        schema:
          type: string
          default: created_at
          enum:
          - id
          - created_at
          - action
      - in: query
        name: order_dir
        description: Direction to sort results by.
        required: false
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
      tags:
      - History
      summary: Get history
      x-summary-source: derived
      operationId: getHistory
      x-operation-id-source: derived
  /history/{id}:
    get:
      description: Retrieve an entry
      parameters:
      - in: path
        name: id
        description: Entry identifier
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful entry read
          content:
            application/json:
              example:
                id: 270955
                user_id: 1234
                historable_id: 51685
                historable_type: App\Modules\Queues\Models\User
                historable_table: queueusers
                action: updated
                old:
                  notice: 2
                new:
                  notice: 0
                created_at: '2021-11-18T18:14:07.000000Z'
                updated_at: '2021-11-18T18:14:07.000000Z'
                api: https://example.org/api/history/270955
        '404':
          description: Record not found
      tags:
      - History
      summary: Get history by id
      x-summary-source: derived
      operationId: getHistoryById
      x-operation-id-source: derived
components:
  securitySchemes:
    api_token:
      type: apiKey
      name: api_token
      in: header
