openapi: 3.2.0
info:
  title: RCAC Search API
  version: 0.0.1
servers:
- url: https://www.rcac.purdue.edu/api
  description: Production server
tags:
- name: Search
paths:
  /search:
    get:
      description: Display a listing of articles
      parameters:
      - in: query
        name: search
        description: A word or phrase to search for in feedback comments.
        required: false
        schema:
          type: string
          default: ''
      - in: query
        name: limit
        description: Number of result per page.
        required: false
        schema:
          type: integer
          default: 20
      - in: query
        name: page
        description: Number of where to start returning results.
        required: false
        schema:
          type: integer
          default: 1
      - in: query
        name: order
        description: Field to sort results by.
        required: false
        schema:
          type: string
          default: created_at
          enum:
          - id
          - created_at
          - ip
          - user_id
          - target_id
          - type
      - in: query
        name: order_dir
        description: Direction to sort results by.
        required: false
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
      tags:
      - Search
      summary: Get search
      x-summary-source: derived
      operationId: getSearch
      x-operation-id-source: derived
components:
  securitySchemes:
    api_token:
      type: apiKey
      name: api_token
      in: header
