{"openapi":"3.0.0","info":{"title":"RCAC API","version":"0.0.1"},"servers":[{"url":"https:\/\/www.rcac.purdue.edu\/api","description":"Production server"}],"components":{"parameters":{"limitParam":{"name":"limit","in":"query","description":"Number of records to return per page","required":false,"schema":{"type":"integer","format":"int32"}},"pageParam":{"name":"page","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int32"}}},"securitySchemes":{"api_token":{"type":"apiKey","name":"api_token","in":"header"}}},"paths":{"\/contactreports\/comments":{"get":{"description":"Display a listing of contact reports comments","parameters":[{"in":"query","name":"contactreportid","description":"ID of contact report","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","datetimecreated","datetimeremoved"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","required":false,"schema":{"type":"string","default":"desc","enum":["asc","desc"]}}]},"post":{"description":"Create a contact report comment","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1,"contactreportid":1,"userid":1234,"comment":"Example comment","stemmedcomment":"example comment","notice":0,"datetimecreated":"2021-09-14 13:01:55","formatteddate":"Sep 14, 2021&nbsp; 1:01pm","formattedcomment":"<p>Example comment<\/p>","username":"John Doe","api":"https:\/\/example.org\/api\/contactreports\/comments\/1"}}}},"401":{"description":"Unauthorized"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"comment":{"description":"The comment being made","type":"string","default":null},"contactreportid":{"description":"ID of the contact report","type":"integer","default":null},"userid":{"description":"User ID","type":"integer","default":0},"notice":{"description":"Notification state","type":"integer","default":0}},"required":["comment","contactreportid"]}}}}}},"\/contactreports\/comments\/{id}":{"get":{"description":"Retrieve a contact report comment","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1,"contactreportid":1,"userid":1234,"comment":"Example comment","stemmedcomment":"example comment","notice":0,"datetimecreated":"2021-09-14 13:01:55","formatteddate":"Sep 14, 2021&nbsp; 1:01pm","formattedcomment":"<p>Example comment<\/p>","username":"John Doe","api":"https:\/\/example.org\/api\/contactreports\/comments\/1"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update a contact report comment","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1,"contactreportid":1,"userid":1234,"comment":"Example comment","stemmedcomment":"example comment","notice":0,"datetimecreated":"2021-09-14 13:01:55","formatteddate":"Sep 14, 2021&nbsp; 1:01pm","formattedcomment":"<p>Example comment<\/p>","username":"John Doe","api":"https:\/\/example.org\/api\/contactreports\/comments\/1"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"comment":{"description":"The comment being made","type":"string","default":null},"contactreportid":{"description":"ID of the contact report","type":"integer","default":null},"userid":{"description":"User ID","type":"integer","default":null},"notice":{"description":"Notification state","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete a contact report comment","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/contactreports\/followgroups":{"get":{"description":"Display a listing of contact reports followgroups","parameters":[{"in":"query","name":"groupid","description":"Group ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"userid","description":"User ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"datecreated","enum":["id","userid","datecreated","targetuserid"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","required":false,"schema":{"type":"string","default":"desc","enum":["asc","desc"]}}]},"post":{"description":"Create a group following","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1,"groupid":20,"userid":1234,"userrequestid":0,"membertype":10,"owner":0,"datecreated":"2021-09-03T05:44:38.000000Z","dateremoved":null,"datelastseen":null,"notice":0,"api":"https:\/\/example.org\/api\/contactreports\/followgroups\/1"}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"groupid":{"description":"ID of group being followed","type":"integer","default":null},"userid":{"description":"User ID of follower","type":"integer","default":"Current user's ID"}},"required":[]}}}}}},"\/contactreports\/followgroups\/{id}":{"get":{"description":"Retrieve a group following record","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":1,"groupid":20,"userid":1234,"userrequestid":0,"membertype":10,"owner":0,"datecreated":"2021-09-03T05:44:38.000000Z","dateremoved":null,"datelastseen":null,"notice":0,"api":"https:\/\/example.org\/api\/contactreports\/followgroups\/1"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update a group following","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1,"groupid":20,"userid":1234,"userrequestid":0,"membertype":10,"owner":0,"datecreated":"2021-09-03T05:44:38.000000Z","dateremoved":null,"datelastseen":null,"notice":0,"api":"https:\/\/example.org\/api\/contactreports\/followgroups\/1"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"groupid":{"description":"ID of group being followed","type":"integer","default":null},"userid":{"description":"ID of user following the group","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete a group following","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/contactreports\/followusers":{"get":{"description":"Display a listing of contact reports user followings","parameters":[{"in":"query","name":"targetuserid","description":"Target User ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"userid","description":"User ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"limit","description":"Number of result per page.","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"datecreated","enum":["id","userid","datecreated","targetuserid"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","required":false,"schema":{"type":"string","default":"desc","enum":["asc","desc"]}}]},"post":{"description":"Create a contact report user following","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1,"userid":1,"targetuserid":2,"membertype":10,"datecreated":"2021-09-01 09:12:01","dateremoved":null,"datelastseen":null,"api":"https:\/\/example.org\/api\/contactreports\/followusers\/1"}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"targetuserid":{"description":"User ID to follow","type":"integer","default":null},"userid":{"description":"User ID of follower","type":"integer","default":"Current user's ID"}},"required":["targetuserid"]}}}}}},"\/contactreports\/followusers\/{id}":{"get":{"description":"Retrieve a contact report user following","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":1,"userid":1,"targetuserid":2,"membertype":10,"datecreated":"2021-09-01 09:12:01","dateremoved":null,"datelastseen":null,"api":"https:\/\/example.org\/api\/contactreports\/followusers\/1"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update a contact report user following","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1,"userid":1,"targetuserid":2,"membertype":10,"datecreated":"2021-09-01 09:12:01","dateremoved":null,"datelastseen":null,"api":"https:\/\/example.org\/api\/contactreports\/followusers\/1"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"targetuserid":{"description":"User ID to follow","type":"integer","default":null},"userid":{"description":"User ID of follower","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete a contact report user following","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/contactreports":{"get":{"description":"Display a listing of contact reports","parameters":[{"in":"query","name":"limit","description":"Number of result per page.","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"type","description":"Contact Report type ID","required":false,"schema":{"type":"integer"}},{"in":"query","name":"group","description":"Filter by group ID","required":false,"schema":{"type":"integer"}},{"in":"query","name":"start","description":"Timestamp (YYYY-MM-DD or YYYY-MM-DD hh:mm:ss) for records on or after that date","required":false,"schema":{"type":"string","format":"date","example":"2021-01-30"}},{"in":"query","name":"stop","description":"Timestamp (YYYY-MM-DD or YYYY-MM-DD hh:mm:ss) for records before that date","required":false,"schema":{"type":"string","format":"date","example":"2021-01-30"}},{"in":"query","name":"people","description":"Filter by people associated with reports. Comma-separated list of usernames, emails, or user IDs","required":false,"schema":{"type":"string","example":"person1,person2,person3"}},{"in":"query","name":"resource","description":"Filter by resources associated with reports. Comma-separated list of resource IDs","required":false,"schema":{"type":"string","example":"1,2,3"}},{"in":"query","name":"tag","description":"Filter by tags associated with reports. Comma-separated list of tags","required":false,"schema":{"type":"string","example":"tag1,tag2,tag3"}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"notice","description":"Filter by notice value","required":false,"schema":{"type":"integer"}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","report","datetimecreated"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","required":false,"schema":{"type":"string","default":"desc","enum":["asc","desc"]}}]},"post":{"description":"Create a contact report","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":5830,"groupid":142,"userid":61344,"report":"Example text","stemmedreport":"eexample ttext","datetimecontact":"2021-09-03T04:00:00.000000Z","datetimecreated":"2021-09-03T20:01:44.000000Z","notice":23,"datetimegroupid":null,"contactreporttypeid":3,"formatteddate":"September 3, 2021 4:01pm","formattedreport":"<p>Example text.<\/p>","comments":[],"subscribed":1,"subscribedcommentid":0,"type":{"id":3,"name":"Personal Meeting","timeperiodid":1,"timeperiodcount":7,"timeperiodlimit":14,"waitperiodid":0,"waitperiodcount":0},"username":"John Doe","users":[{"id":9342,"contactreportid":5830,"userid":56907,"datetimecreated":"2021-09-03T20:01:44.000000Z","datetimelastnotify":null,"name":"Gerhard Klimeck"},{"id":9343,"contactreportid":5830,"userid":81163,"datetimecreated":"2021-09-03T20:01:44.000000Z","datetimelastnotify":null,"name":"Erik S Gough"}],"groupname":"Lorem Ipsum","resources":[{"id":106819,"contactreportid":5830,"resourceid":110,"name":"Geddes"},{"id":106820,"contactreportid":5830,"resourceid":92,"name":"Gilbreth"}],"tags":[],"age":1200675,"api":"https:\/\/example.org\/api\/contactreports\/5830","url":"https:\/\/example.org\/contactreports\/5830"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"datetimecontact":{"description":"Timestamp (YYYY-MM-DD or YYYY-MM-DD hh:mm:ss) of the contact","type":"string","default":null},"groupid":{"description":"ID of the associated group","type":"integer","default":0},"datetimegroupid":{"description":"Timestamp (YYYY-MM-DD or YYYY-MM-DD hh:mm:ss) of the contact","type":"string","default":null},"userid":{"description":"ID of the user creating the entry","type":"integer","default":0},"contactreporttypeid":{"description":"Type ID for the entry","type":"integer","default":0},"report":{"description":"The report text","type":"string","default":null},"notice":{"description":"Notice state","type":"integer","default":0}},"required":["datetimecontact","report"]}}}}}},"\/contactreports\/preview":{"post":{"description":"Parse submitted text to see the final result","parameters":[],"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"body":{"description":"Unformatted text","type":"string","default":null}},"required":["body"]}}}}}},"\/contactreports\/{id}":{"get":{"description":"Retrieve a contact report","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":5830,"groupid":142,"userid":61344,"report":"Example text","stemmedreport":"eexample ttext","datetimecontact":"2021-09-03T04:00:00.000000Z","datetimecreated":"2021-09-03T20:01:44.000000Z","notice":23,"datetimegroupid":null,"contactreporttypeid":3,"formatteddate":"September 3, 2021 4:01pm","formattedreport":"<p>Example text.<\/p>","comments":[],"subscribed":1,"subscribedcommentid":0,"type":{"id":3,"name":"Personal Meeting","timeperiodid":1,"timeperiodcount":7,"timeperiodlimit":14,"waitperiodid":0,"waitperiodcount":0},"username":"John Doe","users":[{"id":9342,"contactreportid":5830,"userid":56907,"datetimecreated":"2021-09-03T20:01:44.000000Z","datetimelastnotify":null,"name":"Gerhard Klimeck"},{"id":9343,"contactreportid":5830,"userid":81163,"datetimecreated":"2021-09-03T20:01:44.000000Z","datetimelastnotify":null,"name":"Erik S Gough"}],"groupname":"Lorem Ipsum","resources":[{"id":106819,"contactreportid":5830,"resourceid":110,"name":"Geddes"},{"id":106820,"contactreportid":5830,"resourceid":92,"name":"Gilbreth"}],"tags":[],"age":1200675,"api":"https:\/\/example.org\/api\/contactreports\/5830","url":"https:\/\/example.org\/contactreports\/5830"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update a contact report","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":5830,"groupid":142,"userid":61344,"report":"Example text","stemmedreport":"eexample ttext","datetimecontact":"2021-09-03T04:00:00.000000Z","datetimecreated":"2021-09-03T20:01:44.000000Z","notice":23,"datetimegroupid":null,"contactreporttypeid":3,"formatteddate":"September 3, 2021 4:01pm","formattedreport":"<p>Example text.<\/p>","comments":[],"subscribed":1,"subscribedcommentid":0,"type":{"id":3,"name":"Personal Meeting","timeperiodid":1,"timeperiodcount":7,"timeperiodlimit":14,"waitperiodid":0,"waitperiodcount":0},"username":"John Doe","users":[{"id":9342,"contactreportid":5830,"userid":56907,"datetimecreated":"2021-09-03T20:01:44.000000Z","datetimelastnotify":null,"name":"Gerhard Klimeck"},{"id":9343,"contactreportid":5830,"userid":81163,"datetimecreated":"2021-09-03T20:01:44.000000Z","datetimelastnotify":null,"name":"Erik S Gough"}],"groupname":"Lorem Ipsum","resources":[{"id":106819,"contactreportid":5830,"resourceid":110,"name":"Geddes"},{"id":106820,"contactreportid":5830,"resourceid":92,"name":"Gilbreth"}],"tags":[],"age":1200675,"api":"https:\/\/example.org\/api\/contactreports\/5830","url":"https:\/\/example.org\/contactreports\/5830"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"datetimecontact":{"description":"Timestamp (YYYY-MM-DD or YYYY-MM-DD hh:mm:ss) of the contact","type":"string","default":null},"groupid":{"description":"ID of the associated group","type":"integer","default":null},"report":{"description":"The report text","type":"string","default":null},"contactreporttypeid":{"description":"Type ID for the entry","type":"integer","default":0},"notice":{"description":"Notice state","type":"integer","default":0}},"required":[]}}}}},"delete":{"description":"Delete a contact report","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/contactreports\/types":{"get":{"description":"Display a listing of contact report types","parameters":[{"in":"query","name":"tagresources","description":"Filter by `tagresources` value","required":false,"schema":{"type":"integer"}},{"in":"query","name":"location","description":"Filter by `location` value","required":false,"schema":{"type":"integer"}},{"in":"query","name":"future","description":"Filter by `future` value","required":false,"schema":{"type":"integer"}},{"in":"query","name":"ongoing","description":"Filter by `ongoing` value","required":false,"schema":{"type":"integer"}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"limit","description":"Number of result per page.","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","motd","datetimecreated","datetimeremoved"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","required":false,"schema":{"type":"string","default":"desc","enum":["asc","desc"]}}]},"post":{"description":"Create a contact report type","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1,"name":"Examples","timeperiodid":0,"timeperiodcount":0,"timeperiodlimit":0,"waitperiodid":0,"waitperiodcount":0,"reports_count":442,"api":"https:\/\/example.org\/api\/contactreports\/types\/1"}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"comment":{"description":"The comment being made","type":"string","default":null},"name":{"description":"The name of the type","type":"string","default":null},"timeperiodid":{"description":"ID of a timeperiod","type":"integer","default":0},"timeperiodcount":{"description":"Number of time periods","type":"integer","default":0},"timeperiodlimit":{"description":"Timeperiod limit","type":"integer","default":0},"waitperiodid":{"description":"ID of a timeperiod","type":"integer","default":0},"waitperiodcount":{"description":"Number of wait periods","type":"integer","default":0}},"required":["comment"]}}}}}},"\/contactreports\/types\/{id}":{"get":{"description":"Read a contact report type","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":1,"name":"Examples","timeperiodid":0,"timeperiodcount":0,"timeperiodlimit":0,"waitperiodid":0,"waitperiodcount":0,"reports_count":442,"api":"https:\/\/example.org\/api\/contactreports\/types\/1"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update a contact report type","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1,"name":"Examples","timeperiodid":0,"timeperiodcount":0,"timeperiodlimit":0,"waitperiodid":0,"waitperiodcount":0,"reports_count":442,"api":"https:\/\/example.org\/api\/contactreports\/types\/1"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"The name of the type","type":"string","default":null},"timeperiodid":{"description":"ID of a timeperiod","type":"integer","default":null},"timeperiodcount":{"description":"Number of time periods","type":"integer","default":null},"timeperiodlimit":{"description":"Timeperiod limit","type":"integer","default":null},"waitperiodid":{"description":"ID of a timeperiod","type":"integer","default":null},"waitperiodcount":{"description":"Number of wait periods","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete a contact report type","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/api":{"get":{"description":"Display API schema","parameters":[]}},"\/courses":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"userid","description":"Owner user ID","required":false,"schema":{"type":"integer"}},{"in":"query","name":"groupid","description":"Group ID","required":false,"schema":{"type":"integer"}},{"in":"query","name":"resourceid","description":"Resource ID","required":false,"schema":{"type":"integer"}},{"in":"query","name":"deptartment","description":"Department code","required":false,"schema":{"type":"string","maxLength":4,"example":"STAT"}},{"in":"query","name":"notice","description":"Notice state","required":false,"schema":{"type":"integer","default":null}},{"in":"query","name":"start","description":"Filter entries scheduled on or after this date","required":false,"schema":{"type":"string","format":"date-time","example":"2021-01-30T08:30:00Z"}},{"in":"query","name":"stop","description":"Filter entries scheduled to end before this date","required":false,"schema":{"type":"string","format":"date-time","example":"2021-01-30T08:30:00Z"}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"limit","description":"Number of result per page.","required":false,"schema":{"type":"integer","default":25}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"name","enum":["id","name","owneruserid","unixgroup","unixid","deptartment"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"asc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1,"crn":"10023","department":"AAE","coursenumber":"33400","classname":"Aerodynamics","resourceid":70,"notice":0,"datetimestart":"2017-08-21T04:00:00.000000Z","datetimestop":"2017-12-16T05:00:00.000000Z","semester":"Fall 2017","groupid":0,"userid":1234,"datetimeremoved":null,"datetimecreated":"2017-07-21T17:01:39.000000Z","studentcount":0,"reference":"","api":"https:\/\/example.org\/api\/courses\/56","members":[]}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"crn":{"description":"Course CRN","type":"string","default":null},"classname":{"description":"Class name","type":"string","default":null},"coursenumber":{"description":"Course number","type":"string","default":null},"userid":{"description":"Owner user ID","type":"integer","default":null},"groupid":{"description":"Group ID","type":"integer","default":null},"resourceid":{"description":"Resource ID","type":"integer","default":null},"deptartment":{"description":"Department ID","type":"string","default":null},"datetimestart":{"description":"Start date of the entry","type":"string","default":null},"datetimestop":{"description":"End date of the entry","type":"string","default":null}},"required":["classname","resourceid","datetimestart","datetimestop"]}}}}}},"\/courses\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":1,"crn":"10023","department":"AAE","coursenumber":"33400","classname":"Aerodynamics","resourceid":70,"notice":0,"datetimestart":"2017-08-21T04:00:00.000000Z","datetimestop":"2017-12-16T05:00:00.000000Z","semester":"Fall 2017","groupid":0,"userid":1234,"datetimeremoved":null,"datetimecreated":"2017-07-21T17:01:39.000000Z","studentcount":0,"reference":"","api":"https:\/\/example.org\/api\/courses\/56","members":[{"id":87,"classaccountid":56,"userid":12346,"membertype":1,"datetimestart":"2017-08-21T04:00:00.000000Z","datetimestop":"2017-12-16T05:00:00.000000Z","notice":0,"datetimecreated":"2017-07-21T17:01:40.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/courses\/members\/87","user":{"id":12346,"name":"Fu Bar","username":"fubar"}},{"id":87,"classaccountid":56,"userid":12347,"membertype":1,"datetimestart":"2017-08-21T04:00:00.000000Z","datetimestop":"2017-12-16T05:00:00.000000Z","notice":0,"datetimecreated":"2017-07-21T17:01:40.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/courses\/members\/88","user":{"id":12347,"name":"Lorrie Ipsum","username":"ipsuml"}}]}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1,"crn":"10023","department":"AAE","coursenumber":"33400","classname":"Aerodynamics","resourceid":70,"notice":0,"datetimestart":"2017-08-21T04:00:00.000000Z","datetimestop":"2017-12-16T05:00:00.000000Z","semester":"Fall 2017","groupid":0,"userid":1234,"datetimeremoved":null,"datetimecreated":"2017-07-21T17:01:39.000000Z","studentcount":0,"reference":"","api":"https:\/\/example.org\/api\/courses\/56","members":[{"id":87,"classaccountid":56,"userid":12346,"membertype":1,"datetimestart":"2017-08-21T04:00:00.000000Z","datetimestop":"2017-12-16T05:00:00.000000Z","notice":0,"datetimecreated":"2017-07-21T17:01:40.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/courses\/members\/87","user":{"id":12346,"name":"Fu Bar","username":"fubar"}},{"id":87,"classaccountid":56,"userid":12347,"membertype":1,"datetimestart":"2017-08-21T04:00:00.000000Z","datetimestop":"2017-12-16T05:00:00.000000Z","notice":0,"datetimecreated":"2017-07-21T17:01:40.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/courses\/members\/88","user":{"id":12347,"name":"Lorrie Ipsum","username":"ipsuml"}}]}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"crn":{"description":"Course CRN","type":"string","default":null},"classname":{"description":"Class name","type":"string","default":null},"coursenumber":{"description":"Course number","type":"string","default":null},"userid":{"description":"Owner user ID","type":"integer","default":null},"groupid":{"description":"Group ID","type":"integer","default":null},"resourceid":{"description":"Resource ID","type":"integer","default":null},"deptartment":{"description":"Department ID","type":"string","default":null},"datetimestart":{"description":"Start date of the entry","type":"string","default":null},"datetimestop":{"description":"End date of the entry","type":"string","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/courses\/sync":{"get":{"description":"Sync users with account info","parameters":[]}},"\/courses\/enrollments":{"get":{"description":"Lookup enrollments for a class","parameters":[{"in":"query","name":"crn","description":"Course CRN","required":false,"schema":{"type":"string"}},{"in":"query","name":"classid","description":"Course ID","required":true,"schema":{"type":"string"}}]}},"\/courses\/members":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"classaccountid","description":"Class account ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"membertype","description":"Member type ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"userid","description":"User ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"notice","description":"Notice status","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"search"}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":25}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"default":"name","schema":{"type":"string","default":"name","enum":["id","name","owneruserid","unixgroup","unixid"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"asc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1,"classaccountid":1,"userid":1234,"membertype":1,"datetimestart":"2016-08-22T04:00:00.000000Z","datetimestop":"2016-12-17T05:00:00.000000Z","notice":0,"datetimecreated":"2016-08-19T04:02:01.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/courses\/members\/1","user":{"id":1234,"name":"Jane Doe","username":"jdoe"}}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"classaccountid":{"description":"Class account ID","type":"integer","default":null},"membertype":{"description":"Member type ID","type":"integer","default":null},"userid":{"description":"User ID","type":"integer","default":null},"datetimestart":{"description":"Datetime (YYYY-MM-DD hh:mm:ss) user enrollment starts","type":"string","default":null},"datetimestop":{"description":"Datetime (YYYY-MM-DD hh:mm:ss) user enrollment stops","type":"string","default":null},"notice":{"description":"Notice state","type":"integer","default":null}},"required":["classaccountid","userid"]}}}}}},"\/courses\/members\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":1,"classaccountid":1,"userid":1234,"membertype":1,"datetimestart":"2016-08-22T04:00:00.000000Z","datetimestop":"2016-12-17T05:00:00.000000Z","notice":0,"datetimecreated":"2016-08-19T04:02:01.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/courses\/members\/1","user":{"id":1234,"name":"Jane Doe","username":"jdoe"}}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1,"classaccountid":1,"userid":1234,"membertype":1,"datetimestart":"2016-08-22T04:00:00.000000Z","datetimestop":"2016-12-17T05:00:00.000000Z","notice":0,"datetimecreated":"2016-08-19T04:02:01.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/courses\/members\/1","user":{"id":1234,"name":"Jane Doe","username":"jdoe"}}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"classaccountid":{"description":"Class account ID","type":"integer","default":0},"membertype":{"description":"Member type ID","type":"integer","default":0},"userid":{"description":"User ID","type":"integer","default":0},"datetimestart":{"description":"Datetime (YYYY-MM-DD hh:mm:ss) user enrollment starts","type":"string","default":null},"datetimestop":{"description":"Datetime (YYYY-MM-DD hh:mm:ss) user enrollment stops","type":"string","default":null},"notice":{"description":"Notice state","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/courses\/members\/import":{"post":{"description":"Import","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"data":[{"id":1,"classaccountid":1,"userid":1234,"membertype":1,"datetimestart":"2016-08-22T04:00:00.000000Z","datetimestop":"2016-12-17T05:00:00.000000Z","notice":0,"datetimecreated":"2016-08-19T04:02:01.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/courses\/members\/1","user":{"id":1234,"name":"Jane Doe","username":"jdoe"}},{"id":2,"classaccountid":1,"userid":1235,"membertype":1,"datetimestart":"2016-08-22T04:00:00.000000Z","datetimestop":"2016-12-17T05:00:00.000000Z","notice":0,"datetimecreated":"2016-08-19T04:02:01.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/courses\/members\/2","user":{"id":1235,"name":"Jimmy Doe","username":"jimmyd"}}]}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"id":{"description":"Class account ID","type":"integer","default":null},"file":{"description":"File to be uploaded","type":"array","default":null}},"required":["id","file"]}}}}}},"\/finder\/facets":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"parentid","description":"Parent department ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"order","description":"Field to sort results by.","type":"string","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","motd","datetimecreated","datetimeremoved"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1,"name":"Is your dataset restricted to U.S. persons only?","control_type":"radio","parent":0,"weight":1,"status":1,"description":"<p>Export controlled data (ITAR\/EAR) are restricted by law to U.S. persons only. This means that non-U.S. persons including international students or individuals from foreign countries are barred from accessing this data.<\/p>\r\n\r\n<p>Contact <a href=\"https:\/\/yourinstitution\/research\/regulatory-affairs\/\";>Regulatory Affairs<\/a> for more information.<\/p>\r\n","created_at":"2021-04-28T12:27:39.000000Z","updated_at":"2021-04-28T12:27:39.000000Z","deleted_at":null,"api":"https:\/\/example.org\/api\/finder\/facets\/11"}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Facet name","type":"string","default":null},"parentid":{"description":"Parent department ID","type":"integer","default":null}},"required":["name"]}}}}}},"\/finder\/facets\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":1,"name":"Is your dataset restricted to U.S. persons only?","control_type":"radio","parent":0,"weight":1,"status":1,"description":"<p>Export controlled data (ITAR\/EAR) are restricted by law to U.S. persons only. This means that non-U.S. persons including international students or individuals from foreign countries are barred from accessing this data.<\/p>\r\n\r\n<p>Contact <a href=\"https:\/\/yourinstitution\/research\/regulatory-affairs\/\";>Regulatory Affairs<\/a> for more information.<\/p>\r\n","created_at":"2021-04-28T12:27:39.000000Z","updated_at":"2021-04-28T12:27:39.000000Z","deleted_at":null,"api":"https:\/\/example.org\/api\/finder\/facets\/11"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1,"name":"Is your dataset restricted to U.S. persons only?","control_type":"radio","parent":0,"weight":1,"status":1,"description":"<p>Export controlled data (ITAR\/EAR) are restricted by law to U.S. persons only. This means that non-U.S. persons including international students or individuals from foreign countries are barred from accessing this data.<\/p>\r\n\r\n<p>Contact <a href=\"https:\/\/yourinstitution\/research\/regulatory-affairs\/\";>Regulatory Affairs<\/a> for more information.<\/p>\r\n","created_at":"2021-04-28T12:27:39.000000Z","updated_at":"2021-04-28T12:27:39.000000Z","deleted_at":null,"api":"https:\/\/example.org\/api\/finder\/facets\/11"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Facet name","type":"string","default":null},"parentid":{"description":"Parent department ID","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/finder\/fields":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"status","description":"Published status","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"order","description":"Field to sort results by.","type":"string","required":false,"schema":{"type":"string","default":"label","enum":["id","name","label","created_at","deleted_at"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":4,"name":"cost","label":"Cost","weight":3,"status":1,"created_at":"2021-04-28T11:34:01.000000Z","updated_at":"2021-04-28T11:34:01.000000Z","deleted_at":null,"services_count":15,"api":"https:\/\/example.org\/api\/finder\/fields\/4"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Field name","type":"string","default":null},"label":{"description":"Field label","type":"string","default":null},"weight":{"description":"Field weight","type":"integer","default":null},"status":{"description":"Published state of the record","type":"integer","default":1}},"required":["name","label"]}}}}}},"\/finder\/fields\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":4,"name":"cost","label":"Cost","weight":3,"status":1,"created_at":"2021-04-28T11:34:01.000000Z","updated_at":"2021-04-28T11:34:01.000000Z","deleted_at":null,"services_count":15,"api":"https:\/\/example.org\/api\/finder\/fields\/4"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":4,"name":"cost","label":"Cost","weight":3,"status":1,"created_at":"2021-04-28T11:34:01.000000Z","updated_at":"2021-04-28T11:34:01.000000Z","deleted_at":null,"services_count":15,"api":"https:\/\/example.org\/api\/finder\/fields\/4"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Field name","type":"string","default":null},"label":{"description":"Field label","type":"string","default":null},"weight":{"description":"Field weight","type":"integer","default":null},"status":{"description":"Published state of the record","type":"integer","default":1}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/finder\/settings":{"get":{"description":"Get settings","parameters":[],"responses":{"200":{"description":"Successful entry modification","content":{"application\/json":{"example":{"name":"Finder","title":"Data Storage Solutions Finder","subtitle":"This tool will offer recommendations of solutions appropriate to your usage needs and the data security constraints.","question_header":"Answer these questions to help identify storage solutions and services that are most suitable for your needs.","service_header":"Select data storage solutions you would like to compare in details.","chart_header":"Select data storage solutions you would like to compare.","email_form_header":"This is the email email_form","email_address":"help@example.org","email_name":"Example Org","main_header":"Main Header","button_select_all":"Select All","button_clear_selections":"Clear Selections"}}}}}}},"\/finder\/servicelist":{"get":{"description":"Get service list","parameters":[],"responses":{"200":{"description":"Successful entry modification","content":{"application\/json":{"example":[{"id":14,"title":"Amazon Drive","summary":"A personal cloud storage platform hosted by Amazon.","facet_matches":[4,7,10,13,15],"field_data":{"field_also_known_as":{"value":"<p><span>Amazon Clouddrive, Amazon Photos<\/span><\/p>\r\n","label":"Also Known As","weight":12},"field_capacity_details":{"value":"<p><span>Free basic tier (5 GB), several paid plans<\/span>.<\/p>\r\n","label":"Capacity Details","weight":1},"field_cost":{"value":"<p><span>Free (5 GB), paid.<\/span><\/p>\r\n","label":"Cost","weight":3}}},{"id":8,"title":"Box Research Lab Folder","summary":"Box Research Lab Folder","facet_matches":[3,4,7,10,13,15,16],"field_data":{"field_also_known_as":{"value":"<p>Box, Box.com<\/p>\r\n","label":"Also Known As","weight":12},"field_capacity_details":{"value":"<p>Box provides unlimited storage space, however individual files may not exceed 15 GB.<\/p>\r\n","label":"Capacity Details","weight":1},"field_cost":{"value":"<p>Free<\/p>\r\n","label":"Cost","weight":3}}}]}}}}}},"\/finder\/facettree":{"get":{"description":"Get facet tree","parameters":[],"responses":{"200":{"description":"Successful entry modification","content":{"application\/json":{"example":[{"id":11,"name":"Is your dataset restricted to U.S. persons only?","control_type":"radio","parent":0,"weight":1,"selected":false,"description":"<p>Export controlled data (ITAR\/EAR) are restricted by law to U.S. persons only. This means that non-U.S. persons including international students or individuals from foreign countries are barred from accessing this data.<\/p>\r\n\r\n<p>Contact <a href=\"https:\/\/yourinstitution\/research\/regulatory-affairs\/\";>Regulatory Affairs<\/a> for more information.<\/p>\r\n","choices":[{"id":12,"name":"Yes","control_type":null,"parent":11,"weight":0,"description":null},{"id":13,"name":"No","control_type":null,"parent":11,"weight":1,"description":null}]},{"id":8,"name":"Will your project utilize a community cluster?","control_type":"radio","parent":0,"weight":2,"selected":false,"description":"<p><a href=\"https:\/\/yourinstitution\/services\/communityclusters\/\";>Community clusters<\/a> provide cost effective computing resources for researchers to run tasks requiring large amounts of computing resources.<\/p>\r\n\r\n<p>For more information on community clusters, <a href=\"mailto:yourinstitution\">contact Your Institution<\/a>.<\/p>\r\n","choices":[{"id":9,"name":"Yes","control_type":null,"parent":8,"weight":0,"description":null},{"id":10,"name":"No","control_type":null,"parent":8,"weight":1,"description":null}]}]}}}}}},"\/finder\/sendmail":{"post":{"description":"Send an email","parameters":[],"responses":{"200":{"description":"Successful entry creation","content":{"application\/json":{"example":"Your message has been sent."}}}}}},"\/finder\/services":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"parentid","description":"Parent department ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"state","description":"Published or unpublished state or entries.","type":"string","required":false,"schema":{"type":"string","default":"published","enum":["published","unpublished"]}},{"in":"query","name":"order","description":"Field to sort results by.","type":"string","required":false,"schema":{"type":"string","default":"title","enum":["id","title","summary","created_at"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":14,"title":"Amazon Drive","summary":"A personal cloud storage platform hosted by Amazon.","status":1,"created_at":"2021-04-28T11:20:01.000000Z","updated_at":"2021-04-28T11:20:01.000000Z","deleted_at":null,"api":"https:\/\/example.org\/api\/finder\/services\/14"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"title":{"description":"Service title","type":"string","default":null},"summary":{"description":"Short description of the service","type":"string","default":null},"status":{"description":"Published or unpublished status","type":"integer","default":1}},"required":["title"]}}}}}},"\/finder\/services\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":14,"title":"Amazon Drive","summary":"A personal cloud storage platform hosted by Amazon.","status":1,"created_at":"2021-04-28T11:20:01.000000Z","updated_at":"2021-04-28T11:20:01.000000Z","deleted_at":null,"api":"https:\/\/example.org\/api\/finder\/services\/14"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":14,"title":"Amazon Drive","summary":"A personal cloud storage platform hosted by Amazon.","status":1,"created_at":"2021-04-28T11:20:01.000000Z","updated_at":"2021-04-28T11:20:01.000000Z","deleted_at":null,"api":"https:\/\/example.org\/api\/finder\/services\/14"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"title":{"description":"Service title","type":"string","default":null},"summary":{"description":"Short description of the service","type":"string","default":null},"status":{"description":"Published or unpublished status","type":"integer","default":1},"fields":{"description":"Fields for a service","type":"array","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/groups\/departments":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"parentid","description":"Parent department ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"order","description":"Field to sort results by.","type":"string","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","motd","datetimecreated","datetimeremoved"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1103,"parentid":1100,"name":"Academic Computing","groups_count":0,"api":"https:\/\/example.org\/api\/groups\/departments\/1103"}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Department name","type":"string","default":null},"parentid":{"description":"Parent department ID","type":"integer","default":null}},"required":["name"]}}}}}},"\/groups\/departments\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":1103,"parentid":1100,"name":"Academic Computing","groups_count":0,"api":"https:\/\/example.org\/api\/groups\/departments\/1103"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1103,"parentid":1100,"name":"Academic Computing","groups_count":0,"api":"https:\/\/example.org\/api\/groups\/departments\/1103"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Department name","type":"string","default":null},"parentid":{"description":"Parent department ID","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/groups\/fieldsofscience":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"parentid","description":"Parent department ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","motd","datetimecreated","datetimeremoved"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1103,"parentid":1100,"name":"Agricultural Biotechnology","groups_count":0,"api":"https:\/\/example.org\/api\/groups\/fieldsofscience\/1103"}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Field of science name","type":"string","default":null},"parentid":{"description":"Parent field of science ID","type":"integer","default":1}},"required":["name"]}}}}}},"\/groups\/fieldsofscience\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":1103,"parentid":1100,"name":"Agricultural Biotechnology","groups_count":0,"api":"https:\/\/example.org\/api\/groups\/fieldsofscience\/1103"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1103,"parentid":1100,"name":"Agricultural Biotechnology","groups_count":0,"api":"https:\/\/example.org\/api\/groups\/fieldsofscience\/1103"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Field of science name","type":"string","default":null},"parentid":{"description":"Parent field of science ID","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/groups\/{group}\/departments":{"get":{"description":"Display a listing of entries","parameters":{"1":{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},"2":{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},"3":{"in":"query","name":"order","description":"Field to sort results by.","type":"string","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","motd","datetimecreated","datetimeremoved"]}},"4":{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"group":{"description":"Group ID","type":"integer","default":null}},"required":["group"]}}}}},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":18,"groupid":1,"collegedeptid":103,"percentage":100,"api":"https:\/\/example.org\/api\/groups\/1\/departments\/18"}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Department name","type":"string","default":null},"parentid":{"description":"Parent department ID","type":"integer","default":null}},"required":["name"]}}}}}},"\/groups\/{group}\/departments\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":18,"groupid":1,"collegedeptid":103,"percentage":100,"api":"https:\/\/example.org\/api\/groups\/1\/departments\/18"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":18,"groupid":1,"collegedeptid":103,"percentage":100,"api":"https:\/\/example.org\/api\/groups\/1\/departments\/18"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Department name","type":"string","default":null},"parentid":{"description":"Parent department ID","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/groups\/{group}\/fieldsofscience":{"get":{"description":"Display a listing of entries","parameters":{"1":{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},"2":{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},"3":{"in":"query","name":"order","description":"Field to sort results by.","type":"string","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","motd","datetimecreated","datetimeremoved"]}},"4":{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"group":{"description":"Group ID","type":"integer","default":null}},"required":["group"]}}}}},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":18,"groupid":1,"fieldofscienceid":103,"newid":0,"percentage":100,"api":"https:\/\/example.org\/api\/groups\/1\/fieldsofscience\/18"}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"FieldOfScience name","type":"string","default":null},"parentid":{"description":"Parent department ID","type":"integer","default":null}},"required":["name"]}}}}}},"\/groups\/{group}\/fieldsofscience\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":18,"groupid":1,"fieldofscienceid":103,"newid":0,"percentage":100,"api":"https:\/\/example.org\/api\/groups\/1\/fieldsofscience\/18"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":18,"groupid":1,"fieldofscienceid":103,"newid":0,"percentage":100,"api":"https:\/\/example.org\/api\/groups\/1\/fieldsofscience\/18"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"FieldOfScience name","type":"string","default":null},"parentid":{"description":"Parent department ID","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/groups":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"owneruserid","description":"Owner user ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"department","description":"Filter by a department ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"fieldofscience","description":"Filter by a Field of Science ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"state","description":"Entry state","required":false,"schema":{"type":"string","default":"active","enum":["active","trashed","*"]}},{"in":"query","name":"unixgroup","description":"Unix group name","required":false,"schema":{"type":"string"}},{"in":"query","name":"unixid","description":"Unix ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"datetimecreated","description":"Created on or after the given timestamp","required":false,"schema":{"type":"date","default":null}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"default":"name","schema":{"type":"string","default":"name","enum":["id","name","owneruserid","unixgroup","unixid","datetimecreated"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"asc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1,"name":"My Research Group","owneruserid":0,"unixgroup":"mrg","unixid":0,"githuborgname":"","datetimecreated":"2021-01-07T14:13:17.000000Z","datetimeremoved":null,"cascademanagers":1,"api":"https:\/\/example.org\/api\/groups\/1","department":[{"id":3541,"groupid":1,"collegedeptid":313,"percentage":100,"api":"https:\/\/example.org\/api\/groups\/departments\/3541"}]}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Group name","type":"string","default":null},"description":{"description":"Group description","type":"string","default":null},"unixgroup":{"description":"Unix group name","type":"string","default":null},"unixid":{"description":"Unix ID","type":"integer","default":0},"cascademanagers":{"description":"Cascade manager memberships","type":"integer","default":1},"prefix_unixgroup":{"description":"Enforce custom unix groups are prefixed","type":"integer","default":1}},"required":["name"]}}}}}},"\/groups\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":1,"name":"My Research Group","owneruserid":0,"unixgroup":"mrg","unixid":0,"githuborgname":"","datetimecreated":"2021-01-07T14:13:17.000000Z","datetimeremoved":null,"cascademanagers":1,"api":"https:\/\/example.org\/api\/groups\/1","department":[{"id":3541,"groupid":1,"collegedeptid":313,"percentage":100,"api":"https:\/\/example.org\/api\/groups\/departments\/3541"}]}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1,"name":"My Research Group","owneruserid":0,"unixgroup":"mrg","unixid":0,"githuborgname":"","datetimecreated":"2021-01-07T14:13:17.000000Z","datetimeremoved":null,"cascademanagers":1,"api":"https:\/\/example.org\/api\/groups\/1","department":[{"id":3541,"groupid":1,"collegedeptid":313,"percentage":100,"api":"https:\/\/example.org\/api\/groups\/departments\/3541"}]}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Group name","type":"string","default":null},"description":{"description":"Group description","type":"string","default":null},"unixgroup":{"description":"Unix group name","type":"string","default":null},"unixid":{"description":"Unix ID","type":"integer","default":null},"cascademanagers":{"description":"Cascade manager memberships","type":"integer","default":1},"prefix_unixgroup":{"description":"Enforce custom unix groups are prefixed","type":"integer","default":1}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/groups\/members":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"limit","description":"Number of result per page.","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"groupid","description":"Group ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"userid","description":"User ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"membertype","description":"Member type","required":false,"schema":{"type":"integer","default":0,"enum":["1 (members)","2 (managers)","3 (viewers)","4 (pending)"]}},{"in":"query","name":"state","description":"State","required":false,"schema":{"type":"string","default":"active","enum":["active","trashed","all"]}},{"in":"query","name":"userrequestid","description":"User request ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"name","enum":["id","groupid","userid","membertype","datecreated","dateremoved"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","required":false,"default":"asc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":43,"groupid":1,"userid":1234,"userrequestid":0,"membertype":2,"owner":1,"datecreated":"2011-03-08T13:46:42.000000Z","dateremoved":null,"datelastseen":null,"notice":0,"api":"https:\/\/example.org\/api\/groups\/members\/43818","user":{"id":1234,"name":"Jane Doe","username":"janedoe","unixid":43674,"datecreated":"2021-06-17T17:07:05.000000Z","dateremoved":null}}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"groupid":{"description":"Group ID","type":"integer","default":null},"userid":{"description":"User ID","type":"integer","default":null},"membertype":{"description":"Member type","type":"integer","default":null},"userrequestid":{"description":"User request ID","type":"integer","default":null}},"required":["groupid","userid"]}}}}}},"\/groups\/members\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":43,"groupid":1,"userid":1234,"userrequestid":0,"membertype":2,"owner":1,"datecreated":"2011-03-08T13:46:42.000000Z","dateremoved":null,"datelastseen":null,"notice":0,"api":"https:\/\/example.org\/api\/groups\/members\/43818","user":{"id":1234,"name":"Jane Doe","username":"janedoe","unixid":43674,"datecreated":"2021-06-17T17:07:05.000000Z","dateremoved":null}}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":43,"groupid":1,"userid":1234,"userrequestid":0,"membertype":2,"owner":1,"datecreated":"2011-03-08T13:46:42.000000Z","dateremoved":null,"datelastseen":null,"notice":0,"api":"https:\/\/example.org\/api\/groups\/members\/43818","user":{"id":1234,"name":"Jane Doe","username":"janedoe","unixid":43674,"datecreated":"2021-06-17T17:07:05.000000Z","dateremoved":null}}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"membertype":{"description":"Member type","type":"integer","default":null},"userrequestid":{"description":"User request ID","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/groups\/motd":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"group_id","description":"Group ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"search","description":"A word or phrase to search for.","type":"string","required":false,"schema":{"type":"string"}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","motd","datetimecreated","datetimeremoved"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","required":false,"schema":{"type":"string","default":"desc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":13,"groupid":1,"motd":"This is the J Does research space","datetimecreated":"2021-06-08T10:17:02.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/groups\/motd\/131"}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"motd":{"description":"Message of the day","type":"string","default":null},"groupid":{"description":"Group ID","type":"integer","default":0}},"required":["motd","groupid"]}}}}}},"\/groups\/motd\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":13,"groupid":1,"motd":"This is the J Does research space","datetimecreated":"2021-06-08T10:17:02.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/groups\/motd\/131"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":13,"groupid":1,"motd":"This is the J Does research space","datetimecreated":"2021-06-08T10:17:02.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/groups\/motd\/131"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"motd":{"description":"Message of the day","type":"string","default":null},"groupid":{"description":"Group ID","type":"integer","default":0}},"required":["motd"]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/unixgroups\/members":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"unixgroupid","description":"Unix Group ID","required":false,"schema":{"type":"integer"}},{"in":"query","name":"userid","description":"User ID","required":false,"schema":{"type":"integer"}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","type":"string","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","motd","datetimecreated","datetimeremoved"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":2,"unixgroupid":1,"userid":1234,"datetimecreated":"2021-02-03T18:36:02.000000Z","datetimeremoved":null,"notice":0,"username":"janedoe","name":"Jane Doe","api":"https:\/\/example.org\/api\/unixgroups\/members\/39372"}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"unixgroupid":{"description":"Unix group ID","type":"integer","default":null},"userid":{"description":"User ID or username","type":"integer","default":null},"notice":{"description":"Notice state","type":"integer","default":null}},"required":["unixgroupid","userid"]}}}}}},"\/unixgroups\/members\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":2,"unixgroupid":1,"userid":1234,"datetimecreated":"2021-02-03T18:36:02.000000Z","datetimeremoved":null,"notice":0,"username":"janedoe","name":"Jane Doe","api":"https:\/\/example.org\/api\/unixgroups\/members\/39372"}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":2,"unixgroupid":1,"userid":1234,"datetimecreated":"2021-02-03T18:36:02.000000Z","datetimeremoved":null,"notice":0,"username":"janedoe","name":"Jane Doe","api":"https:\/\/example.org\/api\/unixgroups\/members\/39372"}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"notice":{"description":"Notice state","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/unixgroups":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"groupid","description":"Group ID","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","type":"string","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","motd","datetimecreated","datetimeremoved"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new entry","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1,"groupid":1,"unixgid":27395,"shortname":"rcs20130","longname":"jdoes","datetimecreated":"2021-02-03T15:46:34.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/unixgroups\/4039","members":[{"id":1,"unixgroupid":1,"userid":1235,"datetimecreated":"2021-02-03T18:35:43.000000Z","datetimeremoved":null,"notice":0,"username":"jimmyd","name":"Jimmy Doe","api":"https:\/\/example.org\/api\/unixgroups\/members\/39371"},{"id":2,"unixgroupid":1,"userid":1234,"datetimecreated":"2021-02-03T18:36:02.000000Z","datetimeremoved":null,"notice":0,"username":"janedoe","name":"Jane Doe","api":"https:\/\/example.org\/api\/unixgroups\/members\/39372"}]}}}},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"groupid":{"description":"Group ID","type":"integer","default":null},"longname":{"description":"Long name","type":"string","default":null},"shortname":{"description":"Short name","type":"string","default":null},"unixgid":{"description":"Unix group system ID","type":"integer","default":null}},"required":["groupid","longname"]}}}}}},"\/unixgroups\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":1,"groupid":1,"unixgid":27395,"shortname":"rcs20130","longname":"jdoes","datetimecreated":"2021-02-03T15:46:34.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/unixgroups\/4039","members":[{"id":1,"unixgroupid":1,"userid":1235,"datetimecreated":"2021-02-03T18:35:43.000000Z","datetimeremoved":null,"notice":0,"username":"jimmyd","name":"Jimmy Doe","api":"https:\/\/example.org\/api\/unixgroups\/members\/39371"},{"id":2,"unixgroupid":1,"userid":1234,"datetimecreated":"2021-02-03T18:36:02.000000Z","datetimeremoved":null,"notice":0,"username":"janedoe","name":"Jane Doe","api":"https:\/\/example.org\/api\/unixgroups\/members\/39372"}]}}}},"404":{"description":"Record not found"}}},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Successful entry modification","content":{"application\/json":{"example":{"id":1,"groupid":1,"unixgid":27395,"shortname":"rcs20130","longname":"jdoes","datetimecreated":"2021-02-03T15:46:34.000000Z","datetimeremoved":null,"api":"https:\/\/example.org\/api\/unixgroups\/4039","members":[{"id":1,"unixgroupid":1,"userid":1235,"datetimecreated":"2021-02-03T18:35:43.000000Z","datetimeremoved":null,"notice":0,"username":"jimmyd","name":"Jimmy Doe","api":"https:\/\/example.org\/api\/unixgroups\/members\/39371"},{"id":2,"unixgroupid":1,"userid":1234,"datetimecreated":"2021-02-03T18:36:02.000000Z","datetimeremoved":null,"notice":0,"username":"janedoe","name":"Jane Doe","api":"https:\/\/example.org\/api\/unixgroups\/members\/39372"}]}}}},"404":{"description":"Record not found"},"409":{"description":"Invalid data"}},"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"longname":{"description":"Long name","type":"string","default":null},"shortname":{"description":"Short name","type":"string","default":null},"unixgid":{"description":"Unix group system ID","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Successful entry deletion"},"404":{"description":"Record not found"}}}},"\/history":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"action","description":"Action taken.","required":false,"schema":{"type":"string","enum":["create","update","delete"]}},{"in":"query","name":"type","description":"The type of item (model name) that the action was taken on.","required":false,"schema":{"type":"search"}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"search"}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"created_at","enum":["id","created_at","action"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","required":false,"schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]}},"\/history\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":270955,"user_id":1234,"historable_id":51685,"historable_type":"App\\Modules\\Queues\\Models\\User","historable_table":"queueusers","action":"updated","old":{"notice":2},"new":{"notice":0},"created_at":"2021-11-18T18:14:07.000000Z","updated_at":"2021-11-18T18:14:07.000000Z","api":"https:\/\/example.org\/api\/history\/270955"}}}},"404":{"description":"Record not found"}}}},"\/logs":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"action","description":"Action taken.","required":false,"schema":{"type":"string","enum":["create","update","delete"]}},{"in":"query","name":"type","description":"The type of item (model name) that the action was taken on.","required":false,"schema":{"type":"string"}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"created_at","enum":["id","created_at","action"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","required":false,"schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]}},"\/logs\/{id}":{"get":{"description":"Read a log entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful entry read","content":{"application\/json":{"example":{"id":870,"datetime":"2021-11-30T13:21:03.000000Z","ip":"127.0.0.1","hostname":"","userid":1234,"status":200,"transportmethod":"GET","servername":"example.org","uri":"\/admin\/history\/activity","app":"ui","classname":"ActivityController","classmethod":"index","objectid":"","payload":"Mozilla\/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit\/605.1.15 (KHTML, like Gecko) Version\/15.0 Safari\/605.1.15","groupid":-2,"targetuserid":-2,"targetobjectid":-2,"api":"https:\/\/example.org\/api\/logs\/8703798"}}}},"404":{"description":"Record not found"}}}},"\/impact\/constants":{"get":{"description":"Display a listing of constants","parameters":[{"in":"query","name":"search","description":"A word or phrase to search for.","type":"string","required":false,"default":"","schema":{"type":"string"}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","type":"integer","required":false,"default":1,"schema":{"type":"string"}},{"in":"query","name":"order","description":"Field to sort results by.","type":"string","required":false,"default":"datetimecreated","allowedValues":"id, motd, datetimecreated, datetimeremoved","schema":{"type":"string"}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a constant","parameters":[],"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Constant name","type":"string","default":null},"value":{"description":"Value","type":"string","default":null},"impacttableid":{"description":"Impact table ID","type":"integer","default":null}},"required":["name","value","impacttableid"]}}}}}},"\/impact\/constants\/{id}":{"get":{"description":"Retrieve a constant","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}]},"put":{"description":"Update a constant","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Constant name","type":"string","default":null},"value":{"description":"Value","type":"string","default":null},"impacttableid":{"description":"Impact table ID","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete a constant","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}]}},"\/impact":{"get":{"description":"Display a listing of entries","parameters":[{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","type":"integer","required":false,"default":1,"schema":{"type":"string"}},{"in":"query","name":"order","description":"Field to sort results by.","type":"string","required":false,"default":"datetimecreated","allowedValues":"id, motd, datetimecreated, datetimeremoved","schema":{"type":"string"}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create an entry","parameters":[],"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Impact name","type":"string","default":null},"value":{"description":"Value","type":"string","default":null},"impacttableid":{"description":"Impact table ID","type":"integer","default":null}},"required":["name","value","impacttableid"]}}}}}},"\/impact\/{id}":{"get":{"description":"Retrieve an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}]},"put":{"description":"Update an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Impact name","type":"string","default":null},"value":{"description":"Value","type":"string","default":null},"impacttableid":{"description":"Impact table ID","type":"integer","default":null}},"required":[]}}}}},"delete":{"description":"Delete an entry","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}]}},"\/impact\/tables":{"get":{"description":"Display a listing of tables","parameters":[{"in":"query","name":"search","description":"A word or phrase to search for.","type":"string","required":false,"default":"","schema":{"type":"string"}},{"in":"query","name":"limit","description":"Number of result per page.","type":"integer","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","type":"integer","required":false,"default":1,"schema":{"type":"string"}},{"in":"query","name":"order","description":"Field to sort results by.","type":"string","required":false,"default":"datetimecreated","allowedValues":"id, motd, datetimecreated, datetimeremoved","schema":{"type":"string"}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","type":"string","required":false,"default":"desc","schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a new table","parameters":[],"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Table name","type":"string","default":null},"columnname":{"description":"Column name","type":"string","default":null},"updatekey":{"description":"Update key","type":"string","default":null}},"required":["name"]}}}}}},"\/impact\/tables\/{id}":{"get":{"description":"Retrieve an issue","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}]},"put":{"description":"Update an issue","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"*\/*":{"schema":{"type":"object","properties":{"name":{"description":"Table name","type":"string","default":null},"columnname":{"description":"Column name","type":"string","default":null},"updatekey":{"description":"Update key","type":"string","default":null}},"required":[]}}}}},"delete":{"description":"Delete an issue","parameters":[{"in":"path","name":"id","description":"Entry identifier","required":true,"schema":{"type":"integer"}}]}},"\/issues\/comments":{"get":{"description":"Display a listing of issues comments","parameters":[{"in":"query","name":"issueid","description":"ID of issue","required":false,"schema":{"type":"integer","default":0}},{"in":"query","name":"search","description":"A word or phrase to search for.","required":false,"schema":{"type":"string"}},{"in":"query","name":"limit","description":"Number of result per page.","required":false,"schema":{"type":"integer","default":20}},{"in":"query","name":"page","description":"Number of where to start returning results.","required":false,"schema":{"type":"integer","default":1}},{"in":"query","name":"order","description":"Field to sort results by.","required":false,"schema":{"type":"string","default":"datetimecreated","enum":["id","issueid","userid","notice","datetimecreated","datetimeremoved"]}},{"in":"query","name":"order_dir","description":"Direction to sort results by.","required":false,"schema":{"type":"string","default":"asc","enum":["asc","desc"]}}]},"post":{"description":"Create a issue comment","parameters":[],"responses":{"201":{"description":"Successful entry creation","content":{"application\/json":{"example":{"id":1,"issueid":3,"userid":1234,"comment":"Updated the config settings.","stemmedcomment":"uupdate tthe cconfig ssettings","datetimecreated":"2021-10-25T20:24:30.000000Z","resolution":1,"formatteddate":"October 25, 2021 4:24pm","formattedcomment":"<p>Updated the config settings.<\/p>","username":"John Doe","api":"https:\/\/example.org\/api\/issues\/comments\/1"}}}},"401":{"description":"Unauthorized"},"409":{"description":"Invalid data"}},"requestBody":
[...]
